body {
  padding: 20px 20%;
  cursor: default;
  background-color: #fafbff;
}

#title, #options{
  min-width:600px;
  max-width:1000px;
}


.form-horizontal .controls, .sub-div{
  min-height: 48px;
}

.sub-div{
  margin:10px 0;
}

.form-horizontal .checkbox{
  display:inline-block;
  min-width: 8em;
}

.sub-div label, .sub-div input{
  display:inline-block;
  margin-right: 10px;
}

.sub-div label{
  min-width: 5em;
  margin-left: 10px;
}


.sub-div {
  display:block;
}

#title .navbar-inner{
  padding:20px;
}

#title img, #title h2, #title h3{
  display: inline;
  vertical-align:baseline;
  margin:0 8px;
}

form {
  margin: 0 5%;
}

#btndiv{
  text-align:right;
  margin-bottom: 15px;
}

#btndiv .btn{
  min-width:8em;
  margin-left: 2px;
}

#restore{
  margin-right: 10px;
}
#urlBlockList {
  width: 60%;
}

.size-input {
  width: 80px;
}